.img {
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    width: 10%;
    height: 10%;
}

.title {
    direction: rtl;
    text-align: center;
    position: sticky;
    top: 0;
}

.clockPanel {
    direction: ltr;
    position: absolute;
    right: 10px;
    top: 22px;
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.timeFormat:hover {
  color: lightskyblue;
}