.img {
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    width: 10%;
    height: 10%;
}

.title {
    direction: rtl;
    text-align: center;
    position: sticky;
    top: 0;
}