* {
    box-sizing: border-box;
    direction: rtl;
}

.header {
    text-align: center;
    position: sticky;
    background-color: grey;
    top: 20px;
    font-size: 15px;
    padding: 5px;
    margin: 20px;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    background-color: #333333;
    padding: 5px;
}

.navbar button {
    float: right;
    text-align: center;
    padding: 2px 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rightcolumn {
    float: right;
    width: 25%;
    padding-right: 20px;
}

.leftcolumn {   
    float: left;
    width: 75%;
    padding-right: 20px;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

.clockPanel {
    position: absolute;
    width: 200px;
    height: 120px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    font-size: 16px;
    margin: 30px 20px;
    font-weight: normal;
    box-shadow: 5px 10px 18px #888888;
}

.timeFormat:hover {
  color: lightskyblue;
}

.img {
    max-width: 100%;
    cursor: pointer;
    padding: 5px;
}

.button {
    text-align: center;
    cursor: pointer;
    width: 10%;
    height: 10%;
    padding: 5px;
}

.flexBox {
    display: flex;
    text-align: right;
    font-size: 16px;
    padding: 5px;
}

.flexItem {
    flex: 1;
    border-left: 2px solid black;
    margin-left: 25px;
    padding-left: 25px;
    padding: 5px;
}

.date-input-field {
    max-width: 7rem;
    text-align: center;
}